.section__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 40px 0;
  max-width: 100%;
  position: sticky;

  &--black {
    color: black;
  }
}

.section {
  display: flex;
  height: 100vh;
  min-height: 890px;
  align-items: center;
}

.section-half {
  height: calc(100vh - 500px);
  min-height: 700px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

