.experience__btns {
  position: absolute;
  right: -60px;
  bottom: 60px;
  cursor: pointer;
}

.left-arrow__icon,
.right-arrow__icon {
  width: 8px;
  height: 10px;
  fill: #ffffff;

}

.left-arrow__icon {
  transform: translate(250%,130%) rotate(180deg);
}

.right-arrow__icon {
  transform: translate(270%,122%);
}

.btn__left-arrow,
.btn__right-arrow {
  background: #353e4e;
  width: 50px;
  height: 50px;
  transform: translate(-20%, 0);
 
  &:hover {
    background-color: #5500f2;
  }
}