.feedback {
  @include phones {
    margin-bottom: 50px;
  }
}

.feedback__container {
  width: 66%;

  @include tablets {
    width: 97%;
  }
}

.feedback__title {
  
  @include tablets {
    text-align: center;
  }
}

.feedback-section {
  background: url("/src/images/bg/feedback-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feedback__wrapper {
  display: flex;
  flex-flow: column nowrap;
}