.feedback {}

.feedback-section {
  background: url("/src/images/bg/feedback-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feedback__wrapper {}