.header__burger-menu {
  display: none;

  @include tablets {
    display: block;
    width: 30px;
    height: 35px;
  }
}

.menu-icon {
  height: 100%;
  width: 100%;
  fill: #ffffff;

  &:hover {
    fill: #ff9a00;
  }
}