.hero {
  height: 100vh;
  position: relative;
  min-height: 650px;
  color: #ffffff;
}

.hero__bottom-btn {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}