.hero {
  height: 100vh;
  padding-top: 54px;
  position: relative;
  min-height: 650px;
  color: #ffffff;
}

.hero__bottom-btn {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;


}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__link-wrapper {
  
  &:hover {
    color: #ff9a00;
  }
}