.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 60px;
  color: currentcolor;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #ff9a00;
    font-family: "Open Sans - Semibold";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    border-bottom: 3px solid #ff9a00;
    transform: none;
  }
}