.experience-screenshot__main-wrapper {
  max-width: 975px;
  max-height: 550px;
  position: relative;
}

.experience-screenshot__secondary-wrapper {
  display: flex;
  position: absolute;
  bottom: 60px;
  right: 0;
  cursor: pointer;
}

.screenshot__secondary-1,
.screenshot__secondary-2,
.screenshot__secondary-3,
.screenshot__secondary-4 {

  &:hover {
    border: 3px solid #dc9322;
    transform: none;
  }
}