.section__title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 40px;
  max-width: 100%;

  &--black {
    color: black;
  }
}

.section {
  height: 100vh;
  margin-bottom: 150px;
}
