.user-data {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}

.user-data__desc {
  opacity: 0.4;
  color: currentcolor;
  font-family: "Open Sans SemiBold";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-right: 50px;
  margin-left: -170px;
}

.user-data__name {
  color: currentcolor;
  font-family: "Open Sans - Extrabold";
  font-size: 72px;
  font-weight: 400;
  line-height: 60px;
}