.user-info {
  color: currentColor;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  line-height: 30px;
  color: #ffffff;


}

.user-info__avatar {
  margin-bottom: 50px;
}

.user-info__data-body {
  width: 100px;
}

.first-td {
  opacity: 0.15;
  width: 150px;
}

.second-td {
  width: 150px;

}