//- script(type="text/x-template")#form-container
//-     form.form.feedback__form(action="#" method="POST" @submit.prevent='sendForm')
//-         .form__row.form__row-double
//-             label.form__block
//-                 .form__label Введите ваше имя
//-                 input(type="text" name="name" placeholder="Сутужко Богдан" required).form__input.form__input--name
//-                 - var icons = ["user"]
//-                     each item in icons
//-                         +icon(item, "user-icon, form__icon")
//-                 .form__error
//-             label.form__block
//-                 .form__label Введите ваш email
//-                 input(type="email" name="name" placeholder="loftschool@study.com" required).form__input.form__input--email
//-                 - var icons = ["envelope"]
//-                     each item in icons
//-                         +icon(item, "envelope-icon, form__icon")
//-                 .form__error
//-         .form__row
//-             label.form__block
//-                 .form__label Сообщение к письму
//-                 textarea(name="comment" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" required).form-input.form-input_textarea
//-                 - var icons = ["message"]
//-                     each item in icons
//-                         +icon(item, "message-icon, form__icon")
//-         .form__row
//-             input(type="submit" value="Отправить").form__button  
//- script(type="text/x-template")#form-error
//-     .form__error Поле не заполнено