script(type="text/x-template")#slider-container
  .works-slider
    display(
      :currentWork="currentWork"
      :works="works"
      :currentIndex="currentIndex"
      @slide="handleSlide"
      @slidePreview="handleSlidePreview"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display
  .works-slider__pics(:data-slide="currentIndex + 1")
    .works-slider__pics-content
      .works-slider__fullpic-container
        img(:src="photoUrl(currentWork.photo)").works-slider__fullpic
        btns(
          @slide="$emit('slide', $event)" 
        )
        thumbs(
          :works="reversedWorks"
          :currentWork="currentWork"
          @slidePreview="$emit('slidePreview', $event)" 
        )

script(type="text/x-template")#slider-btns
  .works-slider__buttons
    button(@click.prevent="$emit('slide', 'next')").works-slider__btn.works-slider__btn_next
    button(@click.prevent="$emit('slide', 'prev')").works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#slider-thumbs
  ul.works-slider__thumbs
    li.works-slider__thumb-item(
      v-for="(work, index) in works"
      :key="work.id"
      :class="{active: currentWork.id === work.id}"
      @click="$emit('slidePreview', index)" 
    )
      a.works-slider__thumb-link
        img(:src="photoUrl(work.photo)").works-slider__thumb

script(type="text/x-template")#slider-info
  .works-slider__data
    tags(
      :tags="tagsArray"
    )
    .works__text
      h3.works-slider__title {{currentWork.title}}
      .works-slider__desc
        p {{currentWork.desc}}
      a.iconed-link(:href='currentWork.link' target="_blank")
        .iconed-link__icon
        span.iconed-link__text Посмотреть сайт

script(type="text/x-template")#slider-tags
  .works__tags
    ul.works-slider__tags
      li.works-slider__tag-item(v-for="tag in tags" :key="tag") {{tag}}